*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    background: url('../img/background-3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    background: rgba(0, 0, 0, 0.5) !important;
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    min-height: 460px;
    width: 300px;
    box-shadow: 0px 0px 5px -2px #0000006b;
    border-radius: 3px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login .inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-login{
    transition: linear 400ms;
    display: flex;
    border-bottom: 1px solid #d6d6d6;
    margin: 20px 0;
    margin-top: 30px;
    width: 250px;
    height: 42px;
    align-items: center;
    /*border-radius: 4px;*/
    transform: translateZ(5px);
    /*box-shadow: 0px 0px 5px -2px #0000006b;*/
}

.input-login > input{
    transition: linear 400ms;
    width: 200px;
    height: 40px;
    padding: 8px;
    border: none;
    border-radius: 0px;
    background: #fff;
}

.input-login input:focus{
    transition: linear 400ms;
    background: #fff;
   /* border-bottom: 1px solid #4a99f3;*/
    outline-style: none;
}

.input-login input:-internal-autofill-selected{
    transition: linear 400ms;
    background: #fff !important;
    outline-style: none;
}

.input-login > .icon{
    transition: linear 400ms;
    width: 50px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #4a99f3;
    /*border-radius: 3px 0px 0px 3px;*/
}

#btn-login{
    transition: linear 400ms;
    box-shadow: 0px 0px 5px -2px #0000006b;
    margin: 15px 0;
    width: 250px;
    height: 40px;
    padding: 5px;
    border: 1px solid rgb(36, 180, 55);
    background: #fff;
    color: rgb(36, 180, 55);
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-login{
    transition: linear 400ms;
    box-shadow: 0px 0px 5px -2px #0000006b;
    margin: 15px 0;
    width: 250px;
    height: 40px;
    padding: 5px;
    border: 1px solid rgb(36, 180, 55);
    background: #fff;
    color: rgb(36, 180, 55);
    font-size: 15px;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-login:focus{
    outline: none;
}

#btn-login i{
    font-size: 20px;
    margin-right: 10px;
}
#btn-login:hover{
    transition: linear 400ms;
    padding: 5px;
    background: rgb(36, 180, 55);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.btn-login-load{
    width: 40px !important;
    background: rgb(36, 180, 55)!important;
    outline: none!important;
    color:  rgb(36, 180, 55)!important;
}

.btn-login-load p, .btn-login-load i{
    display: none;
}

.btn-login-load .loading{
    transition: linear 400ms;
    border-top: 1px #fff;
    border-right: 1px #fff;
    border-bottom: 1px #fff;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0!important;
    border-style: dashed;
    animation: load 1s linear infinite;
}

@keyframes load {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.login > img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    /*border: 1px solid #f1f1f1;*/
}

#error{
    transition: linear 400ms;
    color: red;
    margin: 10px;
    width: 250px;
    text-align: center;
    line-height: 1.5;
}