::-webkit-scrollbar {
    width:8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 9px;
    border: 3px solid transparent;
    /*background-color: #ccd3d6;*/
    background-color: #c7c7c7;
}

::-webkit-scrollbar-thumb:active {
    transition: 300ms ease-in-out;
    background-color: #a9a8a8;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    border-radius: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-overflow-scrolling: touch;
}

a, a:hover {
    color: #428bca;
    text-decoration: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #fff;
    color: #797979;
}

input {
    padding: 5px;
}

.wrapper {
    min-height: 100%;
    position: static;
    overflow: hidden;
}

.header {
    transition: 300ms ease-in-out;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    width: auto;
    height: 48px;
    background: #4a99f3;
    /*box-shadow: 0px 0px 15px -1px #0000006b;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 0 20px 0 0;
}

.box-logo {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header > p {
    color: #fff;
}

.header .buttonMenu {
    width: 34px;
    height: 34px;
    background: none;
    padding: 0 5px;
    margin: auto 15px auto 10px;
    cursor: pointer;
    transition: 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .buttonMenu hr {
    transition: 300ms ease-in-out;
    height: 2px;
    border: none;
    background: #FFF;
    margin: 2px 0;
    transition: 300ms ease-in-out;
    border-radius: 3px;
}

.header .buttonMenuOpen .stik1 {
    transition: 300ms ease-in-out;
    transform: rotate(135deg) translate(5px, -4px);
}

.header .buttonMenuOpen .stik2  {
    transition: 300ms ease-in-out;
    transform: rotate(45deg);
}

.header .buttonMenuOpen .stik3 {
    transition: 300ms ease-in-out;
    transform: rotate(45deg) translate(-5px, -5px);
    opacity: 0;
}

.main-content {
    transition: 300ms ease-in;
    display: inline-block;
    margin-top: 48px;
    width: calc(100% - 230px);
    margin-left: 230px; 
    position: absolute;
    height: calc(100% - 48px);
    overflow: hidden;
    background: #eeeeeeee;    
}

.content-open {
    width: calc(100% - 60px);
    margin-left: 60px;
    transition: 300ms ease-in-out;
    background: #eeeeeeee;
}

.content{
    height: calc(100% - 55px);
    background: #eeeeeeee;
    overflow-y: scroll;
    display: none;
    padding-bottom: 5px;
    margin-right: 5px;
    z-index: 800;
}

.main-content > .active{
    display: block;
}

/*.menu:hover{
    transition: 300ms ease-in-out;
    width: 230px;
}

.menu:hover a span{

}

.menu:hover a p{
    transition: 300ms ease-in-out;
    width: auto;
    opacity: 1;
}*/

.bootstrap-table{
    font-size: 14px;
}

.main-sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #263238a1;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.main-sidebar::-webkit-scrollbar-thumb {
    background: #6b6b6b85;
}

.sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info, 
.sidebar-mini.sidebar-collapse .sidebar-form, 
.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span, 
.sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu, 
.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right, 
.sidebar-mini.sidebar-collapse .sidebar-menu li.liheader {
    display: none !important;
    -webkit-transform: translateZ(0);
}

.sidebar-mini.sidebar-collapse .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 60px !important;
}

.sidebar-hover-label{
    padding: 12px 5px 12px 20px;
    background-color: #1e282c;
    z-index: 1001;
    position: absolute;
    width: 180px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    display: none;
    color: #fff;
    font-size: 17px;
    min-height: 45px;
}

.sidebar-hover-label a{
    color: #fff;
}

.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 48px;
    height: calc(100% - 48px);
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    background-image: url('../img/background-2.jpg');
    background-size: cover;
    z-index: 1001;
}

.overflow{
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar{
    display: block;
    padding-bottom: 10px;
    transition: 300ms ease-in-out;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    background-color: #263238a1;
    position: relative;
    z-index: 1001;
}

.sidebar-menu{
    position: relative;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1001;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    min-height: 45px;
    cursor: pointer;
}

.sidebar-menu>li .submenu{
    position: relative;
    padding-left: 15px;
    display: none;
    flex-direction: column;
    margin-bottom: 5px;
}

.submenu a{
    position: relative;
    padding: 2px 5px 2px 15px;
    display: block;
    color: #fff;
    font-size: 17px;
    border-left: 3px solid transparent;
}

.submenu a:hover{
    color: #fff;
    background: #1e282c;
    border-left-color: #00a65a;
}

.submenu i {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    width: 30px;
}

.sidebar-menu>li>a>.fa-caret-down{
    margin-left: 5px;
    text-align: end;
}

.sidebar-menu>li>a>.fa-caret-up{
    margin-left: 5px;
    text-align: end;
}


.sidebar-menu>li>a>i {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    width: 30px;
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 15px 10px;
    overflow: hidden;
}


.sidebar-mini.sidebar-collapse .user-panel>.image>img {
    width: 40px;
    height: 40px;
}

.user-panel>.image>img {
    width: 100%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.pull-left {
    float: left;
}

.user-panel>.info, 
.user-panel>.info>a {
    color: #fff;
}

.text-success {
    color: #3c763d;
}

.user-panel>.info>a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
}

.user-panel>.info>a>.fa, .user-panel>.info>a>.ion, .user-panel>.info>a>.glyphicon {
    margin-right: 3px;
}

.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}

.user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    display: block!important;
    position: absolute;
    width: 180px;
    left: 60px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span {
    border-bottom-right-radius: 4px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    border-top-right-radius: 4px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: #1e282c;
    z-index: 1001;
}

.sidebar-menu>li>a:hover, 
.sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #00a65a;
}

.sidebar-menu>li>a {
    position: relative;
    border-left: 3px solid transparent;
    padding: 12px 5px 12px 15px;
    display: block;
    color: #fff;
    font-size: 17px;
}

.sidebar-menu .liheader {
    position: relative;
    padding: 15px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: clip;
    color: #4b646f;
    background: #1a222682;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    min-width: 100px;
    max-width: 500px;
    margin: auto;
    transition: 300ms ease-in-out;
}

.nav a{
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    margin: auto 5px;
    width: 60px;
    border-radius: 2px;
    transition: 300ms ease-in-out;
}

.nav a span{
    font-size: 25px;
    margin: 5px auto;
    transition: 300ms ease-in-out;
}

.nav a p{
    color: #fff;
    font-size: 0px;
    transform: translate(0, 16px);
    transition: 300ms ease-in-out;
    text-transform: uppercase;
}

.nav a:hover span{
    font-size: 20px;
    transition: 300ms ease-in-out;
}

.nav a:hover p{
    font-size: 12px;
    transform: translate(0, 0);
    transition: 300ms ease-in-out;
    text-transform: uppercase;
}

.header h2{
    color: #fff;
}

.btn-search{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #fff;
    background: #fff;
    margin: auto 15px auto 0;
    cursor: pointer;
    color: #4a99f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user{
    width: 175px;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    margin-left: 8px;
    text-align: left;
}

.user img{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
}

.button-user{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 2px 0;
    cursor: pointer;
    border-radius: 4px;
    min-height: 32px;
    border: 0;
    min-width: 206px;
}

.button-user:hover{
    background: #fff;
    color: rgb(116, 116, 116);
}

.button-user small{
    font-size: 12px;
    font-weight: 500;
}

.button-user small i{
    margin-right: 3px;
    width: 10px;
}

.button-user .fa-caret-down{
    display: inline-block;
    margin-left: 2px;
    width: 20px;
    vertical-align: middle;
}

.box-basic{
    border: 0px solid transparent;
    margin: 20px;
    width: -webkit-fill-available;
    border-radius: 4px;
    background: #fff;
}

h3{
    color: #4a99f3;
}

.float-left{
    float: left;
}

.float-true{
    float: right;
}

.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px;
    min-height: 40px;
    background: #FFF;
    border-top: 3px solid #d2d6de;
    border-radius: 4px 4px;
}

.box-header-button{
    border: 0;
    background: transparent;
    outline: none;
    color: rgb(116, 116, 116);
    cursor: pointer;
}

/*.collapse{
    transition: linear 300ms;
    overflow: hidden;
    min-height: auto !important;
    height: 0px !important;
    padding: 0 !important;
}*/

.box-swap{
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #FFF;
    border-top: 1px solid #eeeeeeee;
    border-radius: 0 0 4px 4px;
}

.user-menu{
    display: block;
    position: absolute;
    min-width: 206px;
    background: #fff;
    right: 0;
    top: 0;
    margin: 44px 20px;
    border: 0;
    color: rgb(116, 116, 116);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 5px;
}

.user-data{
    padding: 5px;
    color: #fff;
    width: 280px;
    background: #4a99f3;
    height: 175px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
}

.user-data .user{
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
    margin: 5px auto 10px auto;
    border-radius: 50%;
}

.user-data .user img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.closeMenu{
    display: none;
}

.openMenu{
    display: block;
}

.user-menu ul{
    list-style: none;
    margin: 1px;
}

.user-menu ul > li{
    color: rgb(116, 116, 116);
    cursor: pointer;
    transform: translateZ(1px);
}

.user-menu ul > li:last-child{
    border-top: 1px solid #edeff1;
    margin: 0 15px;
}

.user-menu ul > li:last-child a{
    margin: 0 -15px;
}

.user-menu ul > li:last-child:hover a{
    border-radius: 0 0 4px 4px;
}

.user-menu ul > li > a{
    color: rgb(116, 116, 116);
    padding: 10px;
    display: block;
}

.user-menu ul > li i{
    margin-right: 15px;
}

.user-menu ul > li:hover a{
    background: #4a99f3;
    color: #fff;
}

.arrow-menu{
    width: 15px;
    height: 15px;
    border: 1px #d6d6d6 solid;
    border-bottom: 0px;
    border-right: 0px;
    transform: rotate(45deg) translateZ(-1px);
    margin: -8.3px 50px -7px 113px;
    background: #4a99f3;
    border-radius: 1px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 300ms;
}


.user-menu ul > li:hover a{
     color: #fff;
}


.lis-items-clasic{
    list-style: none;
}

.lis-items-clasic li{
    margin: 15px;
}

.lis-items-clasic li a{
    transition: 300ms;
    border: 1px solid #d6d6d6;
    padding: 8px;
    border-radius: 3px;
    color: #303030ee;
    cursor: pointer;
    display: block;
}

.lis-items-clasic li:hover a{
    transition: 300ms;
    background: #4a99f3;
    color: #fff;
    margin-left: 30px;
    transition: 300ms;
}

.box-flex{
    display: flex;
    width: 100%;
}

.shadow-classic{
    box-shadow: 0px 0px 5px -2px #0000006b;
}

.ovalo-1{
    height: 16px;
    width: 26px;
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    transition: 300ms;
}

.circle-1{
    height: 10px;
    width: 10px;
    border-radius: 20px;
    border: 1px solid #fff;
    align-self: center;
}

.lock-menu{
    align-self: flex-end;
    margin: 10px 10px 0px 10px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.breadcrumb {
    position: relative;
    padding: 3px 10px;
    list-style: none;
    background-color: #eeeeeeee;
    border: 0px solid transparent;
    /*margin-bottom: 2px;*/
    z-index: 1000;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #cccccc;
}

.breadcrumb > .active {
    color: #d7d7d7;
}

.breadcrumb li i {
    Font-size: 15px;
    margin-right: 10px;
}

.page-header {
    margin: 20px;
    border-bottom: none;
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    padding-bottom: 9px;
    color: #797979;
}

.page-header i {
    color: #acb1b8;
    margin-right: 10px;
    font-size: 30px;
    opacity: 0.8;
}

.mids{
    padding: 20px;
}

.mids .box1{
    width: calc(100% - 335px);
    min-width: 600px;
}

.mids .box2{
    padding-left: 20px;
    min-width: 335px;
}
.row{
    display: flex;
    padding: 20px 5px;
    flex-wrap: wrap;
}

.row-content-box{
    width: 25%;
    min-width: 300px;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 30px;
}

.button-box-element{
    transition: linear 300ms;
    padding: 20px;
    height: 140px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-box-element:hover{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.button-box-element i{
    font-size: 60px;
}

.button-box-element-mid i{
    font-size: 45px;
}

.dark-box {
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: #fff;
    background: #1E88E5;
    background-color: #1E88E5;
    border: 1px solid #1E88E5;
}

.dark-box:hover{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: #1E88E5;
}

.green-box {
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: #fff;
    background: #26c281;
    background-color: #26c281;
    border: 1px solid #26c281;
}

.green-box:hover{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: #26c281;
}

.brown-box {
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: #fff;
    background: #d1b993;
    background-color: #d1b993;
    border: 1px solid #d1b993;
}

.brown-box:hover{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: #d1b993;
}

.blue-box {
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: #fff;
    background: #57889c;
    background-color: #57889c;
    border: 1px solid #57889c;
}

.blue-box:hover{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: #57889c;
}

.red-box{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: #fff;
    background: #f55050;
    background-color: #f55050;
    border: 1px solid #f55050;
}

.red-box:hover{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: #f55050;
}

.title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.count{
    font-size: 34px;
    font-weight: 700;
}

.button-box-element-mid{
    transition: linear 300ms;
    padding: 0 20px;
    height: 70px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
}

.button-box-element-mid:hover{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.aling-items-start{
    align-items: flex-start;
}
.aling-items-end{
    align-items: flex-end;
}

.rotateX180{
    transform: rotateX(180deg);
}

.grafy-bar {
    display: flex;
    margin-left: 5px;
    height: 55px;
}

.grafy-bar .bars{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    width: 5px;
    background: #fff;
    margin: 0 3px;
}

.red-box:hover > .grafy-bar > .bars{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    background: #f55050;
}

.green-box:hover > .grafy-bar > .bars{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    background: #26c281;
}

#facturas{
    list-style: none;
    border-collapse: collapse;
}

#facturas tr{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    border-bottom: 1px solid #f1f1f1;
}

#facturas > li > a{
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 300ms;
    color: #797979;
    width: 70%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

#facturas td{
    cursor: context-menu;
}

.basic-button{
    transition: linear 300ms;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 5px;
    border: 1px solid #1E88E5;
    color: #1E88E5;
    border-radius: 0;
    background: #fff;
    outline-style: none;
    padding: 6px 10px;
    border-radius: 4px;
    min-width: 40px;
}

.basic-button span{
    display: inline-block;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: 300;
}

.basic-button:hover{
    transition: linear 300ms;
    border: 1px solid #1E88E5;
    color: #fff;
    background: #1E88E5 !important;
    outline-color: #1E88E5;
}

.basic-button:focus{
    box-shadow: none;
}

.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}

.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}

.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}

.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #007aff;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #007aff;
}

.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-width: 5px 5px 0;
    border-top-color: #007aff;
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    right: 5px;
    border-width: 5px 5px 0;
    border-top-color: #007aff;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #007aff;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #007aff;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #007aff;
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    left: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #007aff;
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    right: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #007aff;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}


.red-button{
    border-color:#f55050;
    background: #fff;
    color: #f55050;
}

.red-button:hover{
    border-color:#f55050;
    background: #f55050 !important;
    color: #fff;
}

.green-button{
    border-color:#1ab62f;
    background: #fff;
    color: #1ab62f;
}

.green-button:hover{
    border-color:#1ab62f;
    background: #1ab62f !important;
    color: #fff;
}

.orange-button{
    border-color:#ffac3e;
    background: #fff;
    color: #ffac3e;
}

.orange-button:hover{
    border-color:#ffb758;
    background: #ffac3e !important;
    color: #fff;
}

.gray-button{
    border-color:#888;
    background: #fff;
    color: #888;
}

.gray-button:hover{
    border-color:#888;
    background: #888 !important;
    color: #fff;
}

.box-basic-button-flex{
    display: flex;
    margin: 20px;
}

@media print {
    thead {
        display: table-header-group
    }

    .table td,.table th {
        background-color: #fff!important
    }

    .table {
        border-collapse: collapse!important
    }

    .table-bordered th,.table-bordered td {
        border: 1px solid #ddd!important
    }
}

table {
    max-width: 100%;
    background-color: transparent
}

th {
    text-align: left
}

.table {
    width: 100%;
    margin-bottom: 20px
}

.table thead>tr>th,.table tbody>tr>th,.table tfoot>tr>th,.table thead>tr>td,.table tbody>tr>td,.table tfoot>tr>td {
    line-height: 1.428571429;
    vertical-align: top;
    /*border-top: 1px solid #ddd*/
}

.table thead>tr>th {
    vertical-align: bottom;
    /*border-bottom: 2px solid #ddd*/
}

.table caption+thead tr:first-child th,.table colgroup+thead tr:first-child th,.table thead:first-child tr:first-child th,.table caption+thead tr:first-child td,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child td {
    border-top: 0
}

.table tbody+tbody {
    /*border-top: 2px solid #ddd*/
}

.table .table {
    background-color: #fff
}

.table-condensed thead>tr>th,.table-condensed tbody>tr>th,.table-condensed tfoot>tr>th,.table-condensed thead>tr>td,.table-condensed tbody>tr>td,.table-condensed tfoot>tr>td {
    padding: 5px
}

.table-bordered {
    /*border: 1px solid #ddd*/
}

.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td {
    /*border: 1px solid #ddd*/
}

.table-bordered>thead>tr>th,.table-bordered>thead>tr>td {
    border-bottom-width: 2px;
}

.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9
}

.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
    background-color: #f5f5f5
}

table col[class*="col-"] {
    display: table-column;
    float: none
}

table td[class*="col-"],table th[class*="col-"] {
    display: table-cell;
    float: none
}

.table>thead>tr>td.active,.table>tbody>tr>td.active,.table>tfoot>tr>td.active,.table>thead>tr>th.active,.table>tbody>tr>th.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>tbody>tr.active>td,.table>tfoot>tr.active>td,.table>thead>tr.active>th,.table>tbody>tr.active>th,.table>tfoot>tr.active>th {
    background-color: #f5f5f5
}

.table>thead>tr>td.success,.table>tbody>tr>td.success,.table>tfoot>tr>td.success,.table>thead>tr>th.success,.table>tbody>tr>th.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>tbody>tr.success>td,.table>tfoot>tr.success>td,.table>thead>tr.success>th,.table>tbody>tr.success>th,.table>tfoot>tr.success>th {
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover,.table-hover>tbody>tr.success:hover>td {
    background-color: #d0e9c6;
    border-color: #c9e2b3
}

.table>thead>tr>td.danger,.table>tbody>tr>td.danger,.table>tfoot>tr>td.danger,.table>thead>tr>th.danger,.table>tbody>tr>th.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>tbody>tr.danger>td,.table>tfoot>tr.danger>td,.table>thead>tr.danger>th,.table>tbody>tr.danger>th,.table>tfoot>tr.danger>th {
    background-color: #f2dede;
    border-color: #eed3d7
}

.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover,.table-hover>tbody>tr.danger:hover>td {
    background-color: #ebcccc;
    border-color: #e6c1c7
}

.table>thead>tr>td.warning,.table>tbody>tr>td.warning,.table>tfoot>tr>td.warning,.table>thead>tr>th.warning,.table>tbody>tr>th.warning,.table>tfoot>tr>th.warning,.table>thead>tr.warning>td,.table>tbody>tr.warning>td,.table>tfoot>tr.warning>td,.table>thead>tr.warning>th,.table>tbody>tr.warning>th,.table>tfoot>tr.warning>th {
    background-color: #fcf8e3;
    border-color: #fbeed5
}

.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover,.table-hover>tbody>tr.warning:hover>td {
    background-color: #faf2cc;
    border-color: #f8e5be
}

@media(max-width: 768px) {
    .table-responsive {
        width:100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        border: 1px solid #ddd
    }

    .table-responsive>.table {
        margin-bottom: 0;
        background-color: #fff
    }

    .table-responsive>.table>thead>tr>th,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tfoot>tr>td {
        white-space: nowrap
    }

    .table-responsive>.table-bordered {
        border: 0
    }

    .table-responsive>.table-bordered>thead>tr>th:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child {
        border-left: 0
    }

    .table-responsive>.table-bordered>thead>tr>th:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child {
        border-right: 0
    }

    .table-responsive>.table-bordered>thead>tr:last-child>th,.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>th,.table-responsive>.table-bordered>thead>tr:last-child>td,.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>td {
        border-bottom: 0
    }
}

.table {
    /*border-top: 1px solid #ddd;*/
    border-collapse: collapse;
}

.fixed-table-container{
    padding: 5px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination>li {
    display: inline
}

.pagination>li>a,.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}

.pagination>li:last-child>a,.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus {
    background-color: #eee
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca
}

.pagination>.disabled>span,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus {
    color: #999;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.pagination-lg>li>a,.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px
}

.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px
}

.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.pagination-sm>li>a,.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px
}

.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.fixed-table-pagination{
    margin: 0px 5px;
}

.modal-open {
    overflow: hidden
}

body.modal-open,.modal-open .navbar-fixed-top,.modal-open .navbar-fixed-bottom {
    margin-right: 15px
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll;
    
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    transform: translate(0,-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0)
}

.modal-dialog {
    z-index: 1050;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;    
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    border-radius: 4px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}

.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}

.modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-header .close {
    margin-top: -2px;
    padding: .5rem 1rem;
    margin: -1rem -1rem -1rem auto;
    border-radius: 0 3px 0 3px;
    outline: none;
}

.modal-header .close:hover{
    background: #f55050;
    color: #fff;
    opacity: 1;
}


.modal-title {
    margin: 0;
    line-height: 1.428571429
}

.modal-body {
    position: relative;
    padding: 20px
}

.modal-footer {
    padding: 10px;
    text-align: left;
    border-top: 1px solid #e5e5e5
}

.modal-footer:before,.modal-footer:after {
    display: table;
    content: " "
}

.modal-footer:after {
    clear: both
}

.modal-footer:before,.modal-footer:after {
    display: table;
    content: " "
}

.modal-footer:after {
    clear: both
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        right:auto;
        left: 50%;
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        box-shadow: 0 5px 15px rgba(0,0,0,0.5)
    }
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20)
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50)
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none
}

#cssload-box{
    transition: 200ms linear;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10000;
    position: absolute;
}

.cssload-box-loading {
	width: 49px;
	height: 49px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.cssload-box-loading:before {
	content: '';
	width: 49px;
	height: 5px;
	background: rgb(0,0,0);
	opacity: 0.1;
	position: absolute;
	top: 58px;
	left: 0;
	border-radius: 50%;
	animation: shadow 0.58s linear infinite;
    -o-animation: shadow 0.58s linear infinite;
    -ms-animation: shadow 0.58s linear infinite;
    -webkit-animation: shadow 0.58s linear infinite;
    -moz-animation: shadow 0.58s linear infinite;
}

.cssload-box-loading:after {
	content: '';
	width: 49px;
	height: 49px;
	background: rgb(26,54,104);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3px;
	animation: cssload-animate 0.58s linear infinite;
    -o-animation: cssload-animate 0.58s linear infinite;
    -ms-animation: cssload-animate 0.58s linear infinite;
    -webkit-animation: cssload-animate 0.58s linear infinite;
    -moz-animation: cssload-animate 0.58s linear infinite;
}

@keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		transform: translateY(0) rotate(90deg);
	}
}

@-o-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		-o-transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		-o-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		-o-transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		-o-transform: translateY(0) rotate(90deg);
	}
}

@-ms-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		-ms-transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		-ms-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		-ms-transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		-ms-transform: translateY(0) rotate(90deg);
	}
}

@-webkit-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		-webkit-transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		-webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		-webkit-transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		-webkit-transform: translateY(0) rotate(90deg);
	}
}

@-moz-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		-moz-transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		-moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		-moz-transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		-moz-transform: translateY(0) rotate(90deg);
	}
}

@keyframes shadow {
	0%,
	100% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1);
	}
}

@-o-keyframes shadow {
	0%,
	100% {
		-o-transform: scale(1, 1);
	}
	50% {
		-o-transform: scale(1.2, 1);
	}
}

@-ms-keyframes shadow {
	0%,
	100% {
		-ms-transform: scale(1, 1);
	}
	50% {
		-ms-transform: scale(1.2, 1);
	}
}

@-webkit-keyframes shadow {
	0%,
	100% {
		-webkit-transform: scale(1, 1);
	}
	50% {
		-webkit-transform: scale(1.2, 1);
	}
}

@-moz-keyframes shadow {
	0%,
	100% {
		-moz-transform: scale(1, 1);
	}
	50% {
		-moz-transform: scale(1.2, 1);
	}
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus{
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: #007aff;
    outline: none;
}

.form-control-transparent{
    width: 100%;
    background: transparent;
    border: 2px solid transparent;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #797979;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: cell;
}

.form-control-transparent:focus{
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: #007aff;
    outline: none;
    cursor: initial;
}

.float-right {
    float: right!important;
}

.search {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.modal-large{
    width: 90%;
}

.facturar{
    display: flex;
    width: 100%;
    background: #eeeeeeee;
    padding: 10px;
}

.factura{
    border: 0px solid transparent;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    /*max-height: 500px;
    overflow: auto;*/
}

#list-products-factura tbody td, #list-products-factura th{
    padding: 8px;
    border-bottom: 1px solid #8c8c8c;
    cursor: context-menu;
}

#list-products-factura tr{
    height: 37px;
}

#list-products-factura{
    border-collapse: collapse;
}

.fa-productos{
    border: 0px solid transparent;
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    width: 35%;
    padding: 5px;
    background: #fff;
    margin: 5px;
    max-height: 500px;
    overflow: hidden;
}

.space-between{
    justify-content: space-between;
}

.factuHeader p{
    font-weight: bold;
    font-style: italic;
    margin: 7px 0;
}

.factuHeader{
    margin: 15px 25px;
}

.aling-items-center{
    align-items: center;
}

.modal-mid{
    width: 70%;
    max-height: 700px;
}

.backdrop{
    background: rgb(0 0 0 / 55%);
}

#list-products-factura-Total{
    font-style: italic;
    font-weight: bold;
    text-align: center; 
    vertical-align: middle;
}

#seleccionarCliente{
    border: none;
    background: transparent;
    cursor: pointer;
    color: #26c281;
    outline: none;
    font-size: 20px;
}

#accordion{
    border-radius: 4px;
}

#accordion div{
    border-bottom: 1px solid #ced4da;
}

#accordion div:last-child{
    border-bottom: 0;
}

#accordion div h3{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#accordion div ul{
    list-style: none;
    display: none;
}

#accordion div ul li{
    display: flex;
    padding: 15px;
}

#accordion div ul li p{
    margin: 0 10px;
}

.window{
    display: flex;
    overflow-x: auto;
    background: #fff;
}

.window::-webkit-scrollbar {
    -webkit-appearance: none;
    width:4px;
    height: 4px;
    background-color: #efefef;
}

.window::-webkit-scrollbar-thumb {
    transition: 300ms ease-in-out;
    background-color: transparent;
    border-radius: 0;
}

.window:hover::-webkit-scrollbar-thumb {
    transition: 300ms ease-in-out;
    background-color: #c7c7c7;
    border-radius: 0;
}

.window::-webkit-scrollbar-thumb:active {
    transition: 300ms ease-in-out;
    background-color: #a9a8a8;
    border-radius: 0;
}

.window::-webkit-scrollbar-track,
.window::-webkit-scrollbar-track-piece {
    border-radius: 0;
}

.window li{
    background: rgba(0, 0, 0, 0.18);
    border: 1px solid #eeeeeeee;
    border-top: 0px;
    height: 30px;
    display: flex;
    align-items: center;
    min-width: 180px;
    padding: 8px;
    justify-content: space-between;
    cursor: context-menu;
}

.window li i{
    cursor: pointer;
}

.window li i:hover{
    color: #000;
}

.window > .active{
    background: #eeeeeeee;
}

.acctions-buttons{
    background: #fff;
    border: 1px solid;
    border-color: #1E88E5;
    display: block;
    width: 130px;
    margin: 1px auto;
    border-radius: 4px;
}

.acctions-buttons > .frist-buttons{
    display: flex;
    width: 100%;
}

.acctions-buttons button{
    background: transparent;
    border: none;
    padding: 8px;
    color: #1E88E5;
    outline: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0;
}

.acctions-buttons button i{
    margin-right:6px;
}

.acctions-buttons > .frist-buttons button:first-child{
    width: 70%;
    border-radius: 3px 0 0 3px;
}

.acctions-buttons > .frist-buttons button:last-child{
    width: 31%;
}

.acctions-buttons button:hover{
    background: #1E88E5;
    color: #fff;
}

.second-buttons button{
    text-align: left;
}

.second-buttons button:last-child{
    border-radius: 0 0 3px 3px;
}

.second-buttons{
    display: none;
}

#contexmenu{
    background: #fff;
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    top: 0;
    left: 0;
    border-radius: 4px;
    z-index: 1002;
    display: none;
    padding: 3px 0;
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 33%);
}

#contexmenu li{
    list-style: none;
    padding: 5px 20px;
    cursor: context-menu;
}

#contexmenu li i{
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    width: 30px;
}

#contexmenu li:hover{
    background-color: #f5f5f5;
}